* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.TopBox {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.TopBox:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
}

.onehalf {
    width: 100%;
    float: left;
    padding: .5em 0 .5em .5em;
    margin-top: .5em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}

.onethird {
    width: 100%;
    float: left;
    padding: .5em 0 .5em .5em;
    margin-top: .5em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;

}

.onefourth {
    width: 100%;
    float: left;
    padding: .5em 0 .5em .5em;
    margin-top: .5em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}

.oneeighth {
    width: 100%;
    float: left;
    padding: .5em 0 .5em .5em;
    margin-top: .5em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}


@media screen and (min-width: 700px) {


    .two-third {
        width: 60%;
        float: left;
    }


    .one-third {
        width: 30%;
        float: left;
        padding-left: 20px;
    }

    .container1 {
        width: 100%;
    }

    .onehalf {
        width: 50%;
        float: left;
        padding: .5em 0 .5em .5em;
        margin-top: .5em;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        background-color: lightgray;
    }

    .onethird {
        width: 33.33333333333%;
        float: left;
        padding: .5em 0 .5em .5em;
        margin-top: .5em;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        background-color: lightgray;

    }

    .onefourth {
        width: 25%;
        float: left;
        padding: .5em 0 .5em .5em;
        margin-top: .5em;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        background-color: lightgray;
    }

    .oneeighth {
        width: 12.5%;
        float: left;
        padding: .5em 0 .5em .5em;
        margin-top: .5em;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        background-color: lightgray;
    }

}