
.box1 {
    height: 120px;
    width: 300px;
    padding: 10px;
    background: white;
    border: 1px solid;
    position: absolute;
    top: 161px;
    right: 275px;
}
.box2 {
    height: 120px;
    width: 300px;
    padding: 10px;
    background: red;
    border: 1px solid;
    position: absolute;
    top: 300px;
    right: 275px;
}
.box3 {
    height: 259px;
    width: 130px;
    padding: 10px;
    background: blue;
    float: left;
    border: 1px solid;
    position: absolute;
    top: 161px;
    right: 595px;
}

#star-five {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: black;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#star-five:before {
    border-bottom: 80px solid black;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -35px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    right: 400px;
}
#star-five:after {
    position: absolute;
    display: block;
    color: black;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

